#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  gap: 3em;
  align-items: left;
  justify-content: space-between;
  background-color: #282c34;
  color: white;
}

header h1 {
  font-size: 5em;
  width: fit-content;
  margin: 0;
}



.App-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.PetList-select { 
  width: fit-content;
  height: 2.5em;
  padding: 0.5em;
  font-size: 1.5em;
  margin: auto .5em;
}

.PetDetails {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  width: fit-content;
  min-width: 20vw;
  margin: auto;
  border: 1px solid black;
  padding: 1em;
  border-radius: 1em;
  background-color: darkslategrey;
}

.PetDetails p {
  margin: 0;
  width: 100%;
  text-align: left;
}

.PetForm-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  width: fit-content;
  margin: auto;
  border: 1px solid black;
  padding: 1em;
  border-radius: 1em;
  background-color: darkslategrey;
}